<!DOCTYPE html>
<html>
<head>
  <title>BackOfTheEnvelope</title>
 <!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> -->
</head>
<body>
	<h1>BOTE Analysis</h1>
<div class="container">
		<div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
    	<div class="col-sm-5">Purchase Price:</div>
		<div class="col-sm-7"><input type="number" id="purchaseprice" value="0" color="0000FF"></div>
		<div class="col-sm-5">Acq Percentage:</div>
		<div class="col-sm-7"><input type="number" id="acquisitionpercentage" value="0" color="0000FF"></div>
		<div class="col-sm-7">Acquisition Cost:<variable id="acqcost" value="0" color="0000FF"></div>
		<div class="col-sm-5">Renovation Budget:</div>
		<div class="col-sm-7"><input type="number" id="renobudget" value="0" color="0000FF"></div>
        </div>

        <div class="panel-footer">
         <button onclick="acqcostFunction()">Click to Calc Unlevered Uses</button>
        <p>Total Unlevered Uses: <span id="unlevered"></span></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          Total Uses of Funds
        </div>
        <div class="panel-body">
    <ul>
    	<div class="col-sm-5">Loan Fees</div>
		<div class="col-sm-7"><input type="number" id="loanfee" value="0" color="0000FF"></div>
        </div>
        <div class="panel-footer">
         <button onclick="totalusesfundsFunction()">Total Uses of Funds:</button>
        
        <p>Total Uses of Funds: <span id="totalusesfunds"></span></p>
        </div>
        <div class="panel-body">
    	<div class="col-sm-5">Equity Percentage:</div>
		<div class="col-sm-7"><span id="equitypercentage"></span></div>
		<div class="col-sm-5">Equity Amount:</div>
		<div class="col-sm-7"><span id="equity"></span></div>
		<div class="col-sm-5">Mezzanine Loan:</div>
		<div class="col-sm-7">Percentage:<input type="number" id="mezzaninepercentage" value="0" color="0000FF"></div>
		<div class="col-sm-12">Mezz Loan Amount:<span type="number" id="mezzanine" value="0" color="0000FF"></div>
		<div class="col-sm-5">Senior Loan:</div>
		<div class="col-sm-7">Percentage:<input id="seniorpercentage" value="0" color="0000FF"></div><div class="col-sm-12">
		<div>Senior Loan Amount:<span id="senior" value="0" color="0000FF"></div>
		<div>Total Sources of Funds:<span id="totalsourcesfunds" value="0" color="0000FF"></div>
      </div>
    </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
</div>
<div class="container">

<!--<%= yield %>;-->
</div>
<script>
//var wash;
//var clip;



function acqcostFunction() {
	var a = document.getElementById("purchaseprice").value;
    // document.getElementById("myNumber1").innerHTML = a;
	var b = document.getElementById("acquisitionpercentage").value;
    // document.getElementById("myNumber2").innerHTML = b;
    var c = document.getElementById("renobudget").value;
    // document.getElementById("myNumber1").innerHTML = a;
   acqcost = parseFloat(a) * parseFloat(b);
    document.getElementById("acqcost").innerHTML = acqcost.toFixed(0);
   unlevered = acqcost + parseFloat(a) + parseFloat(c);
   document.getElementById("unlevered").innerHTML = unlevered.toFixed(0); 
  }; 
    // document.getElementById("acqcost").innerHTML = acqcost.toFixed(0);

function totalusesfundsFunction() {
  var d = document.getElementById("loanfee").value;
    // document.getElementById("myNumber1").innerHTML = a;
   var e = document.getElementById("mezzaninepercentage").value;
   var f = document.getElementById("seniorpercentage").value;
	mezzanine = parseFloat(e)*parseInt(unlevered);
    document.getElementById("mezzanine").innerHTML = mezzanine.toFixed(2);
	senior = parseFloat(f)*parseInt(unlevered);;
   	document.getElementById("senior").innerHTML = senior.toFixed(2);
   	totalusesfunds = unlevered + parseFloat(d)*(mezzanine + senior);
    document.getElementById("totalusesfunds").innerHTML = totalusesfunds.toFixed(0);
    equitypercentage = parseInt(1) - (parseFloat(e) + parseFloat(f));
	document.getElementById("equitypercentage").innerHTML = equitypercentage.toFixed(2);
	equity = parseFloat(d)*(mezzanine + senior) + unlevered*parseFloat(equitypercentage);
	document.getElementById("equity").innerHTML = equity.toFixed(2);
	totalsourcesfunds = equity + mezzanine + senior;
    document.getElementById("totalsourcesfunds").innerHTML = totalsourcesfunds.toFixed(0);
}


// function equitypercentageFunction() {
//   var e = document.getElementById("mezzaninePercentage").value;
//     // document.getElementById("myNumber1").innerHTML = e;
//   var f = document.getElementById("seniorPercentage").value;
//     // document.getElementById("myNumber2").innerHTML = f;
//   equitypercentage = 1 - parseFloat(mezzaninePercentage) + parseFloat(seniorPercentage);
// }

// function totalequityFunction(){ 
//     totalequity = loanfee + totalunleveredfunds*equitypercentage;
//     document.getElementById("equity").innerHTML = equity;
//     myFunction();
// }

// function mezzanineFunction() {
//     // document.getElementById("myNumber2").innerHTML = b;
//     mezzaninePercentage = document.getElementById("mezzaninePercentage").value;
//     mezzanine = parseFloat(mezzaninepercentage)*parseInt(totalunleveredfunds);
//     document.getElementById("mezzanine").innerHTML = sum.toFixed(2);
// }

// function seniorFunction() {
//   senior = parseFloat(seniorPercentage)*parseInt(totalunleveredfunds);;
//    document.getElementById("senior").innerHTML = sum.toFixed(2);
// }

// function incomeFunction() {
//     // document.getElementById("myNumber2").innerHTML = b;
//     var sum = parseFloat() + parseFloat();
//     document.getElementById("demo").innerHTML = sum.toFixed(2);
// }


</script>

</body>
</html>
